*{
    margin:0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;

}

body{
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    background-color: aqua;
}

.Container{
    position: relative;
}

.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: pink;
    bordar: 2px solid;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg*var(--j)));
    inset: 12px;
    text-align: center;

}
 .clock span b{
    transform: rotate(calc(-30deg*var(--j)));
    display: inline-block;
    font-size: 20px;
 }

 .clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(183, 209, 89);
 }

 .hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
 }

 .hand i{
    position: absolute;
    background-color:var(--clr);
    width: 4px;
    height: 70px;
    border-radius: 8px;
 }